/* lato-300 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/lato-v17-latin-300.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('./fonts/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('./fonts/lato-v17-latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('./fonts/lato-v17-latin-300.woff') format('woff'),
		/* Modern Browsers */
		url('./fonts/lato-v17-latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('./fonts/lato-v17-latin-300.svg#Lato') format('svg');
	/* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/lato-v17-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('./fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('./fonts/lato-v17-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('./fonts/lato-v17-latin-regular.woff') format('woff'),
		/* Modern Browsers */
		url('./fonts/lato-v17-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('./fonts/lato-v17-latin-regular.svg#Lato') format('svg');
	/* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('./fonts/lato-v17-latin-italic.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('./fonts/lato-v17-latin-italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('./fonts/lato-v17-latin-italic.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('./fonts/lato-v17-latin-italic.woff') format('woff'),
		/* Modern Browsers */
		url('./fonts/lato-v17-latin-italic.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('./fonts/lato-v17-latin-italic.svg#Lato') format('svg');
	/* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/lato-v17-latin-700.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('./fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('./fonts/lato-v17-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('./fonts/lato-v17-latin-700.woff') format('woff'),
		/* Modern Browsers */
		url('./fonts/lato-v17-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('./fonts/lato-v17-latin-700.svg#Lato') format('svg');
	/* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/lato-v17-latin-900.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('./fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('./fonts/lato-v17-latin-900.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('./fonts/lato-v17-latin-900.woff') format('woff'),
		/* Modern Browsers */
		url('./fonts/lato-v17-latin-900.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('./fonts/lato-v17-latin-900.svg#Lato') format('svg');
	/* Legacy iOS */
}

body {
	margin: 0;
	font-family: 'Lato';
}

.head {
	background-color: #222222;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
}

.left {
	display: flex;

	&__logo {
		margin-right: 41px;
	}

	&__search {
		margin-top: 10px;
	}
}

.right {
	display: flex;
	align-items: center;
	margin: 5px 0px 0 0;

	&__burger,
	&__person {
		margin-right: 33px;
	}
}

.main {
	width: 100%;
}

.start {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 764px;
	margin-right: 331px;
	background: #f1e4e6;

	&__photo {
		margin-left: -100px;
	}

	&__slogan {
		display: flex;
		flex-direction: column;
		margin: 0 0 45px 63px;
		padding: 0;
		height: 92px;
		border-left: 12px solid #F16D7F;
		padding: 0 0 0 16px;

		&-first {
			margin: 0;
			font-weight: 900;
			font-size: 48px;
			line-height: 58px;
		}

		&-second {
			margin: 0;
			font-weight: 700;
			font-size: 32px;
			line-height: 38px;

			&-ping {
				color: #F16D7F;
			}
		}
	}
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 65px;

	&__item {
		text-decoration: none;
		margin: 0;
		width: 360px;
		height: 260px;
		background-color: rgba(33, 22, 22, 0.7);
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		text-align: center;
		padding-top: 105px;
		box-sizing: border-box;

		&-text-first {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}

		&-text-second {
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			color: #F16D7F;
		}
	}

	&__item:nth-child(1) {
		background-image: url("img/for-women.png");
	}

	&__item:nth-child(2) {
		background-image: url("img/for-men.png");
	}

	&__item:nth-child(3) {
		background-image: url("img/for-kids.png");
	}
	
	&__item:last-child {
		height: 180px;
		background-image: url("img/accesories.png");
		flex-grow: 1;
		margin-top: 30px;
		padding-top: 65px;
	}
}

/** Product */

.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: #F7F7F7;
	padding: 11px 0 42px 0;

	&__but {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 47px;
		height: 47px;
		background: rgba(42, 42, 42, 0.15);

		& img {
			width: 30%;
		}
	}
}

/* Product **/

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__header {
		width: 100%;
		margin-top: 96px;
		margin-bottom: 48px;
		text-align: center;

		&-first {
			margin: 0;
			font-size: 30px;
			line-height: 36px;
			color: #222222;
		}

		&-second {
			font-size: 14px;
			line-height: 17px;
			color: #9F9F9F;
		}
	}

	/** Catalog */
	&__filter {
		width: 100%;
		margin: 51px 16px 64px 16px;
		display: flex;

		&-sort {
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			width: 34%;

			&-img {
				margin-left: 11px;
			}
		}

		&-filters {
			display: flex;

			&-select {

				&-img {
					margin-left: 10px;
				}
			}

			&-select:not(:first-child) {
				margin-left: 28px;
			}
		}
	}

	&__pagination {
		width: 100%;
		display: flex;
		justify-content: center;

		&-element {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 16px;
			box-sizing: border-box;
			height: 43px;
			width: 283px;
			border: 1px solid #EBEBEB;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #c4c4c4;

			&-num.current {
				color: #EF5B70;
			}

			&-img {

			}
		}
	}

	/* Catalog **/

	/** Product */

	&__product {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-grow: 1;
		margin-top: -70px;
		margin-bottom: 130px;
		background-color: #fff;
		border: 1px solid #EAEAEA;

		&-center {
			width: 641px;
			height: 600px;
			text-align: center;

			&-info {
				&-collection {
					margin-top: 64px;
					margin-bottom: 12px;
					font-weight: 300;
					font-size: 14px;
					line-height: 17px;
					color: #F16D7F;
				}

				&-line {
					width: 63px;
					border-top: 3px solid #EF5B70;
					border-bottom: 0px;
					margin: 0px auto;
				}

				&-name {
					margin-top: 12px;
					margin-bottom: 48px;
					font-weight: 300;
					font-size: 18px;
					line-height: 22px;
					color: #4D4D4D;
				}

				&-description {
					margin: 0px 43px 32px 43px;
					font-weight: 300;
					font-size: 14px;
					line-height: 17px;
					color: #5E5E5E;
				}

				&-cost {
					margin-bottom: 65px;
					font-weight: 300;
					font-size: 24px;
					line-height: 29px;
					color: #EF5B70;
				}
			}

			&-properties {
				display: flex;
				justify-content: center;
				margin-bottom: 49px;
				padding-top: 65px;
				border-top: 1px solid #EAEAEA;

				&-select {
					font-size: 14px;
					line-height: 17px;
					color: #6F6E6E;

					&-img {
						margin-left: 9px;
					}
				}

				&-select:not(:first-child) {
					margin-left: 23px;
				}
			}

			&-addCart {
				display: flex;
				justify-content: center;

				&-but {
					text-decoration: none;
					display: flex;
					justify-content: center;
					align-items: center;
					// display: inline-block;
					background-color: #0000;
					border: 1px solid #FF6A6A;
					font-size: 16px;
					line-height: 19px;
					color: #F26376;
					padding: 7px 56px 8px 24px;

					& img {
						margin-right: 23px;
						margin-top: 6px;
					}
				}
			}
		}
	}

	/* Product **/

	&__item {
		width: 360px;
		background-color: #F8F8F8;
		margin-bottom: 30px;

		&-header {
			margin-left: 18px;
			font-size: 13px;
			line-height: 16px;
			color: #000000;
		}

		&-text {
			margin: 0 28px 18px 16px;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			color: #5D5D5D;
		}

		&-cost {
			margin-left: 18px;
			font-size: 16px;
			line-height: 19px;
			color: #F16D7F;
			margin-bottom: 18px;
		}

		&-image {
			display: block;
			position: relative;

			&-AddToCart {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: rgba(58, 56, 56, 0.86);
				visibility: hidden;

				&-but {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					background-color: #0000;
					border: 1px solid #fff;
					font-size: 14px;
					line-height: 17px;
					color: #fff;
					padding: 10px 15px 8px 13px;

					& img {
						margin-right: 11px;
					}
				}
			}
		}

		&-image:hover {
			& .items__item-image-AddToCart {
				visibility: visible;
			}
		}
	}

	&__allProduct {
		width: 100%;
		text-align: center;
		margin-top: 18px;
		margin-bottom: 95px;

		&-button {
			border: 1px solid #FF6A6A;
			font-size: 16px;
			line-height: 19px;
			color: #F26376;
			padding: 14px 38px;
			background-color: #fff;
			display: inline-block;
			text-decoration: none;
		}

		&-button:hover {
			background-color: #F16D7F;
			color: #fff;
			cursor: pointer;
		}
	}
}

.end {
	width: 100%;
	height: 341px;
	background: #222224;
	padding: 103px 0;
	box-sizing: border-box;
}

.feature {
	display: flex;
	justify-content: space-between;

	&__item {
		text-align: center;
		width: 300px;
		color: #FBFBFB;

		&-icon {
			height: 40px;
		}

		&-header {
			margin: 20px 0 16px 0;
			font-size: 20px;
			line-height: 24px;
		}

		&-text {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
		}
	}
}

.subscribe {
	width: 100%;
	height: 448px;
	padding: 86px 0;
	box-sizing: border-box;
	background-color: rgba(244, 244, 244, 0.7);
	background-blend-mode: overlay;
	background-image: url(img/footer-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sub {
	display: flex;
	justify-content: space-between;

	&__info {
		width: 360px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;

		&-text {
			margin-top: 30px;
		}
	}

	&__subscribe {
		text-align: center;
		color: #222224;
		margin: 64px 100px 0 0;

		&-header {
			font-weight: bold;
			font-size: 24px;
			line-height: 40px;
		}

		&-title {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
		}

		&-form {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-top: 30px;

			&-email {
				background: #E1E1E1;
				padding: 16px 64px 16px 22px;
				border: none;
				border-radius: 18px 0px 0px 18px;
				outline: none;
			}

			&-email:focus {
				box-shadow: 0 0 3px black;
			}

			&-email:hover {
				box-shadow: 0 0 3px black;
			}

			&-email::placeholder {
				font-size: 14px;
				line-height: 17px;
				color: #222224;
				opacity: 0.67;
			}

			&-but {
				background: #F16D7F;
				padding: 16px 22px;
				border: none;
				border-radius: 0px 18px 18px 0px;
				cursor: pointer;

				font-size: 14px;
				line-height: 17px;
				color: #FFFFFF;
			}
		}
	}
}

.copyright {
	width: 100%;
	height: 79px;
	background: #222224;
}

.copyr {
	display: flex;
	justify-content: space-between;

	&__left {
		padding-top: 30px;
		font-size: 16px;
		line-height: 19px;
		color: #FBFBFB;
	}

	&__social {
		padding-top: 24px;
		display: flex;
		justify-content: space-between;

		&-item {
			height: 32px;
			width: 32px;
			background-color: #fff;
			margin-right: 7px;
			display: flex;

			&-image {
				margin: auto;
			}
		}

		&-item:hover {
			background-color: #F16D7F;

			& img {
				filter: invert(1);
			}
		}
	}
}

/* Catalog */

.catalogHeader {
	width: 100%;
	background: #F8F3F4;
}

.cathead {
	height: 148px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__left {

		&-text {
			font-size: 24px;
			line-height: 29px;
			color: #F16D7F;
		}
	}


	&__right {
		&-breadcrumbs {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			color: #636363;

			&-link {
				text-decoration: none;
			}

			&-last {
				text-decoration: none;
				color: #F16D7F;
				font-weight: 700;
			}
		}
	}
}

/* Cart */

.cart {
	display: flex;
	margin-top: 96px;
	margin-bottom: 128px;
	justify-content: space-between;
	flex-wrap: wrap;

	&__products {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			margin-bottom: 40px;
			box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

			&-img {
				height: 100%;
			}

			&-info {
				width: 390px;
				padding: 22px 180px 31px 22px;
				box-sizing: border-box;
				position: relative;

				&-del {
					position: absolute;
					top: 28px;
					right: 22px;
				}

				&-name {
					margin-bottom: 42px;
					font-size: 24px;
					line-height: 29px;
				}

				&-text {

					&-line {
						font-size: 22px;
						line-height: 26px;
						margin-bottom: 6px;
						color: #575757;

						&-cost {
							color: #F16D7F;
						}
					}

					&-count {
						margin-left: 24px;
						width: 44px;
						text-align: center;
						font-size: 18px;
						line-height: 22px;
						color: #656565;
						border: 1px solid #EAEAEA;
					}
				}
			}
		}

		&-controls {
			display: flex;
			justify-content: space-between;
			margin-top: 32px;

			&-but {
				padding: 16px 40px;
				border: 1px solid #A4A4A4;
				background: #FFFFFF;
				font-weight: 300;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 360px;
		margin: 20px 0px;

		&-addres {
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;

			&-header {
				font-weight: 300;
				font-size: 16px;
				line-height: 19px;
				color: #222222;
				margin-bottom: 20px;
			}

			&-input {
				padding: 13px 17px 16px;
				margin-bottom: 20px;
				border: 1px solid #A4A4A4;

				&::placeholder {
					font-weight: 300;
					font-size: 13px;
					line-height: 16px;
					color: #B1B1B1;
				}
			}

			&-but {
				padding: 10px 12px 10px;
				margin-bottom: 20px;
				border: 1px solid #A4A4A4;
				background: #FFFFFF;
				width: 100px;
				font-weight: 300;
				font-size: 11px;
				line-height: 13px;
				color: #4A4A4A;
			}
		}

		&-checkout {
			background: #F5F3F3;
			padding: 40px;
			text-align: right;

			&-sub {
				font-size: 11px;
				line-height: 13px;
				color: #4A4A4A;
				margin-bottom: 12px;

				&-cost {
					margin-left: 10px;
				}
			}

			&-grand {
				font-weight: 300;
				font-size: 16px;
				line-height: 19px;
				color: #222222;
				margin-bottom: 21px;

				&-cost {
					margin-left: 10px;
					font-weight: 400;
					color: #F16D7F;
				}
			}

			&-hr {
				background: #E2E2E2;
				margin: 0px;
				border: none;
				height: 1px;
			}

			&-but {
				margin-top: 17px;
				background: #F16D7F;
				border: none;
				padding: 15px 0px;
				width: 100%;
				font-weight: 300;
				font-size: 16px;
				line-height: 19px;
				color: #FFFFFF;
			}
		}
	}
}
